<div class="row">
    <div class="col-vs-12">
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-success" [disabled]="!productForm.valid">Save</button>
                    <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="name">Product Name</label>
                        <input id="name" type="text" class="form-control" formControlName="prodname">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="brand">Product Brand</label>
                        <input id="brand" type="text" class="form-control" formControlName="prodbrand">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="description">Product Description </label>
                        <input id="description" type="text" class="form-control" formControlName="description">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input id="price" type="text" class="form-control" formControlName="price">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="image">Image URL</label>
                        <input id="Image" type="text" class="form-control" formControlName="imagePath" #imagePath>
                    </div>
                </div>
            </div>   
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <img [src]="imagePath.value" class="img-responsive">
                    </div>
                </div>
            </div>        
        </form>
    </div>
</div>
